<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	{% load staticfiles %}
 	 <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
	<title>{{username}}'s blog</title>
  
</head>
<body>
	<div class="wrap">
			<div class="header">
			
			</div>
			<div class="mainbody">
			   {% if article_list %}
	         	 {% for article in article_list %}
				 	     <ul>
				        <li><h3><a href="/blog/{{article.user.username}}/{{article.id}}">{{article.title}}</a></h3></li>
				        <li>写于{{article.date}}</li>
				        <br />
				        </ul>
		         {% endfor %}
			   {% else %}
		          <p>sorry,user does not exists.</p>			
		     {% endif %}
	     </div>
	   <a href="/blog/{{username}}/write_blog">写博客</a>
   </div>

</body>
</html>
