#topdiv{
width: 100%;
height: 50px;
background-color:lightgreen;
background-position: middle;
padding: 10px 50px;
}

#topdiv ul{
	list-style-type: none;
}

#topdiv a{
	font-size: 22px;
        
}
#topdiv a:link{
        text-decoration:none;
}

#topdiv p{
padding-left: 800px;
margin-bottom: 10px;
font: 10em;}
#nameblog{
    background-color: yellowgreen;
}

