<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <meta name="keywords" content="it share" />
    <meta name="descriptions" content="it share" />
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
</head>

<body>
    <!-- top navigation --> 
    <div id="topdiv">
        <p><a href="/blog">blog</a>&nbsp;&nbsp;<a href="/account/login">login</a>&nbsp;&nbsp;<a href="/account/register">register</a></p>
    </div>
</body>

</html>
    
