<!DOCTYPE html>
<html>
<head>
    <meta  http-equiv="Content-Type" content="text/html;charset=utf8" />
    <!-- <meta  http-equiv="Refresh" content="5;http://www.baidu.com" /> -->
    <meta name="keywords" content="web" />
    <meta name="description" content="this is web sharing website."/>
    <!-- get css file -->
    {% load staticfiles %}
 	 <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/cuteblog_index.css' %}" />
    <title>liuliancao</title>
</head>

<body>   
	<div class="wrapper">  
	    <!-- top navigation --> 
	    <div >
	         <div><a href="/blog"><img src="{% static 'img/logo4.png' %}"</a></div></a>
	         <h3>Hello&nbsp;<a href="/blog/{{user.username}}" >{{user.username}}</a>,welcome to liuliancao's website.</h3>
	     		<h4>
		        		<a  href="/account/register">register</a>&nbsp;&nbsp;
		        		<a  href="/account/login">login</a>&nbsp;&nbsp;
		        		<a  href="/account/logout">logout</a>
	     		</h4>
	        
		  <hr >	    
	    </div>
   
 

</body>
</html>
