<!DOCTYPE HTML>
<html>
<head>
    <meta  http-equiv="Content-Type" content="text/html;charset=utf8" />
    <!-- <meta  http-equiv="Refresh" content="5;http://www.baidu.com" /> -->
    <meta name="keywords" content="web" />
    <meta name="description" content="this is web sharing website."/>
    <!-- get css file -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
</head>

<body>     
    <!-- top navigation --> 
    <div id="topdiv">
        <h1><a href="#">blog</a>&nbsp;&nbsp;
        		<span id="login_resiter_logout">
        		<a href="/account/login">login</a>&nbsp;&nbsp;
        		<a href="/account/register">register</a>&nbsp;&nbsp;
        		<a href="/account/logout">logout</a>
        		</span>
        </h1>
        <span id='welcome'>hello&nbsp;&nbsp;<strong>{{username}}</strong>&nbsp;,欢迎来到liuliancao的小站.</span>
        <hr width="100%" style="color:red;" />
    </div>

    <!-----article-area---->
    <div id="middlediv">
    <br />
    <br />
    <table>
        <tbody>
        
        <td>
        {% for article in article_list_10 %}
        <tr><h3><a href="/blog/{{article.user}}/{{article.id}}">{{article.title}}</a></h3></tr>
        <p>{{article.text}}</p>
        <abbr>{{article.user}} 写于 {{article.date}}</abbr>
        {% endfor %}
        </td>
        
    </div>

</body>
</html>
