<!DOCTYPE HTML>
<html>
<head>
    <meta  http-equiv="Content-Type" content="text/html;charset=utf8" />
    <!-- <meta  http-equiv="Refresh" content="5;http://www.baidu.com" /> -->
    <meta name="keywords" content="web" />
    <meta name="description" content="this is web sharing website."/>
    <!-- get css file -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}" />
</head>

<body>
    <div id="topdiv">      
        <h3>HELLO，YOU</h3>
        <hr />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;开心，快乐每一天 !</p>
        <span class="first"><a href="/account/login">登录</a></span>
        <span class="first"><a href="/account/register">注册</a></span>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;开心，快乐每一天 !</p>
        <span class="second"><a href="/account/login">登录</a></span>
        <span class="second"><a href="/account/register">注册</a></span>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;开心，快乐每一天 !</p>
        <span class="third"><a href="/account/login">登录</a></span>
        <span class="third"><a href="/account/register">注册</a></span>
    </div>
    
    <div id="middlediv">
    
    
    
    
    </div>
</body>
</html>
